@{
    ViewData["Title"] = "Danh sách câu hỏi";
    Layout = "~/Areas/TeacherArea/Views/Shared/_TeacherLayout.cshtml";
}

<div class="row">
    <div class="form-group col-sm-2">
        <select class="form-select" id="questionSelectGrade">
            <option value="-1">Chọn khối</option>
        </select>
    </div>

    <div class="form-group col-sm-2">
        <select class="form-select" id="questionSelectSubject">
            <option value="-1">Chọn môn</option>
        </select>
    </div>

    <div class="col-sm-3 mb-2">
        <button class="btn btn-success" id="btnAdd">
            <i class="fa-solid fa-plus"></i>
            Thêm câu hỏi
        </button>
    </div>

    <div class="col-sm-2 mb-2">
        <button class="btn btn-success" id="btnApprove">
            <i class="fa-solid fa-check"></i>
            Phê duyệt câu hỏi
        </button>
    </div>

    <div class="col-sm-3 mb-2">
        <form id="formSearch">
            <div class="input-group">
                <input type="search" id="search" class="form-control" placeholder="Tìm kiếm" />
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<nav aria-label="..." class="mt-2">
    <ul class="pagination pagination-sm" id="pagination">
    </ul>
</nav>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    STT
                </th>
                <th>
                    Câu hỏi
                </th>
                <th>
                    Người tạo
                </th>
                <th>
                    Ngày tạo
                </th>
                <th>
                    Người sửa
                </th>
                <th>
                    Ngày sửa
                </th>
                <th class="text-center">
                    Đã duyệt
                </th>
                <th>
                    Người duyệt
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tBodyListQuestion">
        </tbody>
    </table>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalQuestion">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="card">
                <h5 class="card-header" id="modalTitle"></h5>
                <div class="card-body">
                    <input hidden id="questionId" value="" />
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="control-label">Chương</label>
                            <select class="form-select" id="questionSelectChapter">
                                <option value="-1">Chọn chương</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">Bài</label>
                            <select class="form-select" id="questionSelectLesson">
                                <option value="-1">Chọn bài</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Câu hỏi</label>
                            <textarea class="form-control" id="questionContent" rows="2"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Đáp án A</label>
                            <textarea class="form-control" id="answerA" rows="1"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Đáp án B</label>
                            <textarea class="form-control" id="answerB" rows="1"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Đáp án C</label>
                            <textarea class="form-control" id="answerC" rows="1"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Đáp án D</label>
                            <textarea class="form-control" id="answerD" rows="1"></textarea>
                        </div>
                        <div class="form-group col-sm-2">
                            <label class="control-label">Mức độ</label>
                            <select class="form-select" id="questionSelectLevel">
                                <option value="-1">Chọn mức độ</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-2">
                            <label class="control-label">Đáp án</label>
                            <select class="form-select" id="questionSelectAnswer">
                                <option value="-1">Chọn đáp án</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-8">
                            <label class="control-label">Ghi chú</label>
                            <textarea class="form-control" id="note" rows="1"></textarea>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-footer text-end">
                <button type="button" class="btn btn-success" id="btnSubmit">Thêm</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalApprove">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="card">
                <h5 class="card-header" id="modalApproveTitle">Phê duyệt câu hỏi</h5>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        STT
                                    </th>
                                    <th>
                                        Câu hỏi
                                    </th>
                                    <th>
                                        Đáp án A
                                    </th>
                                    <th>
                                        Đáp án B
                                    </th>
                                    <th>
                                        Đáp án C
                                    </th>
                                    <th>
                                        Đáp án D
                                    </th>
                                    <th>
                                        Đáp án
                                    </th>
                                    <th>
                                        Mức độ khó
                                    </th>
                                    <th>
                                        Ghi chú
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="tBodyListQuestionNotApprove">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer text-end">
                    <button type="button" class="btn btn-success" id="btnApproveSubmit">Xác nhận</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        let keyword = '';
        let page = 1;

        $(document).ready(function () {
            $('#btnApprove').hide()
            LoadListGrade();
            LoadListLevel();
            LoadListAnswer();
        });

        //Load list subject when grade change
        $('#questionSelectGrade').on('change', function () {
            if ($('#questionSelectGrade').val() == -1) {
                $('#tBodyListQuestion').empty();
            }

            $("#search").val('');
            $('#questionSelectSubject').empty();
            $('#questionSelectSubject').append("<option value='-1' selected>Chọn môn học</option>");
            $('#questionSelectChapter').empty();
            $('#questionSelectChapter').append("<option value='-1' selected>Chọn chương</option>");
            $('#questionSelectLesson').empty();
            $('#questionSelectLesson').append("<option value='-1' selected>Chọn bài</option>");

            LoadListSubject($('#questionSelectGrade').val());
        });

        //Load list chapter when subject change
        $('#questionSelectSubject').on('change', function () {
            $('#questionSelectChapter').empty();
            $('#questionSelectChapter').append("<option value='-1' selected>Chọn chương</option>");
            $('#questionSelectLesson').empty();
            $('#questionSelectLesson').append("<option value='-1' selected>Chọn bài</option>");

            LoadListChapter($('#questionSelectSubject').val());
            LoadListQuestion(keyword, page);
        });

        //Load list question when chapter change
        $('#questionSelectChapter').on('change', function () {
            $('#questionSelectLesson').empty();
            $('#questionSelectLesson').append("<option value='-1' selected>Chọn bài</option>");

            LoadListLesson($('#questionSelectChapter').val());
        });

        //Load list grade
        function LoadListGrade() {
            $.ajax({
                url: "/teacherarea/question/GetListGrade",
                type: "get",
                success: function (data) {
                    if (data.code === 200) {
                        $('#questionSelectGrade').empty();
                        $('#questionSelectGrade').append("<option value='-1' selected>Chọn khối</option>");
                        $.each(data.data, function (index, item) {
                            let option = `<option value=${item.id}>${item.gradeName}</option>`;
                            $('#questionSelectGrade').append(option);
                        })
                    }
                }
            })
        };

        //Load list subject
        function LoadListSubject(id) {
            return new Promise(function (resolve, reject) {
                if (id != -1) {
                    $.ajax({
                        url: "/teacherarea/question/GetListSubject",
                        type: "get",
                        data: {
                            id
                        },
                        success: function (data) {
                            if (data.code === 200) {
                                $('#questionSelectSubject').empty();
                                $('#questionSelectSubject').append("<option value='-1' selected>Chọn môn học</option>");
                                $.each(data.data, function (index, item) {
                                    let option = `<option value=${item.id}>${item.subjectName}</option>`;
                                    $('#questionSelectSubject').append(option);
                                });

                                $('#questionSelectSubjectFilter').empty();
                                $('#questionSelectSubjectFilter').append("<option value='-1' selected>Chọn môn học</option>");
                                $.each(data.data, function (index, item) {
                                    let option = `<option value=${item.id}>${item.subjectName}</option>`;
                                    $('#questionSelectSubjectFilter').append(option);
                                });
                                resolve(); // Gọi resolve() khi hoàn thành
                            }
                        },
                        error: function (error) {
                            reject(error); // Gọi reject() nếu xảy ra lỗi
                        }
                    });
                } else {
                    resolve(); // Gọi resolve() trực tiếp nếu không cần gọi AJAX
                }
            })
        };

        //Load list chapter
        function LoadListChapter(id) {
            return new Promise(function (resolve, reject) {
                if (id != -1) {
                    $.ajax({
                        url: "/teacherarea/question/GetListChapter",
                        type: "get",
                        data: {
                            id
                        },
                        success: function (data) {
                            if (data.code === 200) {
                                $('#questionSelectChapter').empty();
                                $('#questionSelectChapter').append("<option value='-1' selected>Chọn chương</option>");
                                $.each(data.data, function (index, item) {
                                    let option = `<option value=${item.id}>${item.chapterName}</option>`;
                                    $('#questionSelectChapter').append(option);
                                });
                                resolve(); // Gọi resolve() khi hoàn thành
                            }
                        },
                        error: function (error) {
                            reject(error); // Gọi reject() nếu xảy ra lỗi
                        }
                    });
                } else {
                    resolve(); // Gọi resolve() trực tiếp nếu không cần gọi AJAX
                }
            })
        };

        //Load list lesson
        function LoadListLesson(id) {
            return new Promise(function (resolve, reject) {
                if (id != -1) {
                    $.ajax({
                        url: "/teacherarea/question/GetListLesson",
                        type: "get",
                        data: {
                            id
                        },
                        success: function (data) {
                            if (data.code === 200) {
                                $('#questionSelectLesson').empty();
                                $('#questionSelectLesson').append("<option value='-1' selected>Chọn bài</option>");
                                $.each(data.data, function (index, item) {
                                    let option = `<option value=${item.id}>${item.lessonName}</option>`;
                                    $('#questionSelectLesson').append(option);
                                })
                                resolve();
                            }
                        },
                        error: function (error) {
                            reject(error); // Gọi reject() nếu xảy ra lỗi
                        }
                    });
                } else {
                    resolve(); // Gọi resolve() trực tiếp nếu không cần gọi AJAX
                }
            })
        };

        //Load list level
        function LoadListLevel() {
            //use ajax to load list lesson
            $.ajax({
                url: "/teacherarea/question/GetListLevel",
                type: "get",
                success: function (data) {
                    if (data.code === 200) {
                        $('#questionSelectLevel').empty();
                        $('#questionSelectLevel').append("<option value='-1' selected>Chọn mức độ</option>");
                        $.each(data.data, function (index, item) {
                            let option = `<option value=${item.id}>${item.levelName}</option>`;
                            $('#questionSelectLevel').append(option);
                        })
                    }
                }
            })
        }

        //Load list answer
        function LoadListAnswer() {
            //use ajax to load list lesson
            $.ajax({
                url: "/teacherarea/question/GetListAnswer",
                type: "get",
                success: function (data) {
                    if (data.code === 200) {
                        $('#questionSelectAnswer').empty();
                        $('#questionSelectAnswer').append("<option value='-1' selected>Chọn đáp án</option>");
                        $.each(data.data, function (index, item) {
                            let option = `<option value=${item.id}>${item.answerLabel}</option>`;
                            $('#questionSelectAnswer').append(option);
                        })
                    }
                }
            })
        }

        //Load list question
        function LoadListQuestion(keyword, page) {
            $.ajax({
                url: "/teacherarea/question/GetListQuestion",
                type: "get",
                data: {
                    subjectId: $('#questionSelectSubject').val(),
                    keyword,
                    page
                },
                success: function (data) {
                    if (data.code === 200) {
                        if (data.isLeader) {
                            $('#btnApprove').show()
                        }
                        else {
                            $('#btnApprove').hide()
                        }

                        $('#tBodyListQuestion').empty();
                        $.each(data.data, function (index, item) {
                            let tr = `<tr id=${item.id}>`;
                            tr += `<td>${index + 1}</td>`;
                            tr += `<td class="text-primary fw-bold">${item.questionContent}</td>`;
                            tr += `<td>${item.author}</td>`;
                            tr += `<td>${item.creationDate != null ? ConvertDate(item.creationDate) : ''}</td>`;
                            tr += `<td>${item.editor != null ? item.editor : ''}</td>`;
                            tr += `<td>${item.editingDate != null ? ConvertDate(item.editingDate) : ''}</td>`;
                            tr += `<td class="text-center">${item.isApprove == 1 ? '<i class="fa-solid fa-circle-check text-success"></i>' : '<i class="fa-solid fa-circle-xmark text-danger"></i>'}</td>`;
                            tr += `<td>${item.approver != null ? item.approver : ''}</td>`;
                            tr += '<td class="text-end">';
                            tr += '<button class="btn btn-info btn-sm" name="view"><i class="fa-solid fa-circle-info"></i></button>';
                            tr += item.isApprove != 1 ? ' | <button class="btn btn-warning btn-sm" name="update"><i class="fa-solid fa-pen-to-square"></i></button> | ' : '';
                            tr += item.isApprove != 1 ? '<button class="btn btn-danger btn-sm" name="delete"><i class="fa-solid fa-trash-can"></i></button>' : '';
                            tr += "</td>";
                            tr += "</tr>";

                            $('#tBodyListQuestion').append(tr);
                        })

                        if (data.pageSize > 1) {
                            $('#pagination').empty();
                            for (var i = 1; i <= data.pageSize; i++) {
                                let li = `<li class="page-item" id=${i}><a class="page-link" href="#">${i}</a></li>`;
                                $('#pagination').append(li);
                            }
                            let li = $(`#pagination li#${page}`);
                            $(li).addClass('active');
                        }
                        else {
                            $('#pagination').empty();
                        }
                    }
                }
            })
        };

        //Load list question not approve
        function LoadListQuestionNotApproveBySubject(id) {
            $.ajax({
                url: "/teacherarea/question/GetListQuestionNotAppoveBySubject",
                type: "get",
                data: {
                    id,
                },
                success: function (data) {
                    if (data.code === 200) {
                        $('#tBodyListQuestionNotApprove').empty();
                        $.each(data.data, function (index, item) {
                            let tr = `<tr id=${item.id}>`;
                            tr += `<td>${index + 1}</td>`;
                            tr += `<td class="text-primary fw-bold">${item.questionContent}</td>`;
                            tr += `<td>${item.answerA}</td>`;
                            tr += `<td>${item.answerB}</td>`;
                            tr += `<td>${item.answerC}</td>`;
                            tr += `<td>${item.answerD}</td>`;
                            tr += `<td>${item.answer}</td>`;
                            tr += `<td>${item.level}</td>`;
                            tr += `<td>${item.note != null ? item.note : ''} </td>`;
                            tr += `<td><input type="checkbox"/></td>`;
                            tr += "</tr>";

                            $('#tBodyListQuestionNotApprove').append(tr);
                        })
                    }
                }
            })
        };

        //Show modal detail question
        $(document).on('click', "button[name='view']", function () {
            let questionId = $(this).closest('tr').attr('id');

            $.ajax({
                url: '/teacherarea/question/GetDetailQuestion',
                type: "get",
                data: {
                    id: questionId
                },
                success: function (data) {
                    if (data.code == 200) {
                        $('#modalTitle').text("Chi tiết câu hỏi");

                        $('#questionSelectChapter').val(data.data[0].chapterId);

                        LoadListLesson(data.data[0].chapterId).then(function () {
                            $('#questionSelectLesson').val(data.data[0].lessonId);
                        });

                        $('#questionContent').val(data.data[0].questionContent);
                        $('#answerA').val(data.data[0].answerA);
                        $('#answerB').val(data.data[0].answerB);
                        $('#answerC').val(data.data[0].answerC);
                        $('#answerD').val(data.data[0].answerD);
                        $('#questionSelectLevel').val(data.data[0].level);
                        $('#questionSelectAnswer').val(data.data[0].answer);
                        $('#note').val(data.data[0].note);

                        $('#questionContent').prop('readonly', true);
                        $('#answerA').prop('readonly', true);
                        $('#answerB').prop('readonly', true);
                        $('#answerC').prop('readonly', true);
                        $('#answerD').prop('readonly', true);
                        $('#note').prop('readonly', true);

                        $('#btnSubmit').hide();

                        $('#modalQuestion').modal('show');
                    } else {
                        alert(data.message);
                    }
                }
            })
        });

        //Show modal update question
        $(document).on('click', "button[name='update']", function () {
            let questionId = $(this).closest('tr').attr('id');

            $.ajax({
                url: '/teacherarea/question/GetDetailQuestion',
                type: "get",
                data: {
                    id: questionId
                },
                success: function (data) {
                    if (data.code == 200) {
                        $('#modalTitle').text("Cập nhật câu hỏi");

                        $('#questionSelectChapter').val(data.data[0].chapterId)
                        LoadListLesson(data.data[0].chapterId).then(function () {
                            $('#questionSelectLesson').val(data.data[0].lessonId);
                        });

                        $('#questionId').val(questionId);
                        $('#questionContent').val(data.data[0].questionContent);
                        $('#answerA').val(data.data[0].answerA);
                        $('#answerB').val(data.data[0].answerB);
                        $('#answerC').val(data.data[0].answerC);
                        $('#answerD').val(data.data[0].answerD);
                        $('#questionSelectLevel').val(data.data[0].level);
                        $('#questionSelectAnswer').val(data.data[0].answer);
                        $('#note').val(data.data[0].note);

                        $('#questionContent').prop('readonly', false);
                        $('#answerA').prop('readonly', false);
                        $('#answerB').prop('readonly', false);
                        $('#answerC').prop('readonly', false);
                        $('#answerD').prop('readonly', false);
                        $('#note').prop('readonly', false);

                        $('#btnSubmit').text('Cập nhật');
                        $('#btnSubmit').show();

                        $('#modalQuestion').modal('show');
                    } else {
                        alert(data.message);
                    }
                }
            })
        });

        //Delete question
        $(document).on('click', "button[name='delete']", function () {
            let questionId = $(this).closest('tr').attr('id');

            if (confirm("Bạn có chắc muốn xóa câu hỏi này?")) {
                $.ajax({
                    url: '/teacherarea/question/DeleteQuestion',
                    type: "post",
                    data: {
                        id: questionId
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            alert(data.message);

                            page = 1;
                            LoadListQuestion(keyword, page);
                        }
                        else {
                            alert(data.message);
                        }
                    }
                })
            }
        })

        //Show modal approve question
        $('#btnApprove').click(function () {
            LoadListQuestionNotApproveBySubject($('#questionSelectSubject').val())

            $('#modalApprove').modal('show');
        });

        //Show modal add question
        $('#btnAdd').click(function () {
            $('#modalTitle').text("Thêm câu hỏi");

            $('#questionId').val('');
            $('#questionSelectLesson').val(-1);
            $('#questionContent').val('');
            $('#answerA').val('');
            $('#answerB').val('');
            $('#answerC').val('');
            $('#answerD').val('');
            $('#questionSelectLevel').val(-1);
            $('#questionSelectAnswer').val(-1);
            $('#note').val('');

            $('#questionContent').prop('readonly', false);
            $('#answerA').prop('readonly', false);
            $('#answerB').prop('readonly', false);
            $('#answerC').prop('readonly', false);
            $('#answerD').prop('readonly', false);
            $('#note').prop('readonly', false);

            $('#btnSubmit').text('Thêm');
            $('#btnSubmit').show();

            $('#modalQuestion').modal('show');
        });

        //Submit modal
        $('#btnSubmit').click(function () {
            let questionId = $('#questionId').val();
            let lesson = $('#questionSelectLesson').val();
            let questionContent = $('#questionContent').val().trim();
            let answerA = $('#answerA').val().trim();
            let answerB = $('#answerB').val().trim();
            let answerC = $('#answerC').val().trim();
            let answerD = $('#answerD').val().trim();
            let level = $('#questionSelectLevel').val();
            let answer = $('#questionSelectAnswer').val();
            let note = $('#note').val().trim();

            if (lesson == -1 || level == -1 || answer == -1 || questionContent.length == 0 || answerA.length == 0 || answerB.length == 0 || answerC.length == 0 || answerD.length == 0) {
                alert("Vui lòng nhập đầy đủ dữ liệu!");
                return;
            }

            if (questionId.length == 0) { //Add question
                $.ajax({
                    url: '/teacherarea/question/AddQuestion',
                    type: 'post',
                    data: {
                        questionContent,
                        answerA,
                        answerB,
                        answerC,
                        answerD,
                        answer,
                        lesson,
                        level,
                        note
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            alert(data.message);

                            $('#questionContent').val('');
                            $('#answerA').val('');
                            $('#answerB').val('');
                            $('#answerC').val('');
                            $('#answerD').val('');
                            $('#questionSelectLevel').val(-1);
                            $('#questionSelectAnswer').val(-1);
                            $('#note').val('');

                            LoadListQuestion(keyword, page);
                        }
                        else {
                            alert(data.message);
                        }
                    }
                })
            }
            else { //Update question
                $.ajax({
                    url: '/teacherarea/question/UpdateQuestion',
                    type: 'post',
                    data: {
                        id: questionId,
                        questionContent,
                        answerA,
                        answerB,
                        answerC,
                        answerD,
                        answer,
                        lesson,
                        level,
                        note
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            alert(data.message);

                            $('#modalQuestion').modal('hide');

                            LoadListQuestion(keyword, page);
                        }
                        else {
                            alert(data.message);
                        }
                    }
                })
            }
        })

        //Submit modal approve question
        $('#btnApproveSubmit').click(function () {
            $('#tBodyListQuestionNotApprove > tr').each(function (index, item) {
                if ($(this).find('input').is(':checked')) {
                    let id = $(this).attr('id');

                    $.ajax({
                        url: '/teacherarea/question/ApproveQuestion',
                        type: 'post',
                        data: {
                            id
                        },
                        success: function (data) {
                            if (data.code == 200) {
                                LoadListQuestion(keyword, page);
                                LoadListQuestionNotApproveBySubject($('#questionSelectSubject').val());
                            }
                            else {
                                alert(data.message);
                            }
                        }
                    })
                }
            })
            return;
        })

        //Search
        $('#formSearch').submit(function (e) {
            e.preventDefault();
            keyword = $('#search').val().trim();

            if (keyword.length == 0) {
                return;
            }

            page = 1;
            LoadListQuestion(keyword, page)
        })

        //Reload list question when search null
        $('#search').keyup(function () {
            if ($("#search").val().length == 0) {
                keyword = '';
                page = 1;
                LoadListQuestion(keyword, page);
            }
        })

        //Click page of pagination
        $('#pagination').on('click', 'li', function (e) {
            e.preventDefault();
            page = $(this).text();
            LoadListQuestion(keyword, page);
        })

        //Convert Date
        function ConvertDate(date) {
            return new Date(date).getDate()
                + "/" + Number(new Date(date).getMonth() + 1)
                + "/" + new Date(date).getFullYear()

        }
    </script>
    }

