@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="form-group col-sm-2">
        <select class="form-select" id="lessonSelectGrade">
            <option value='-1' selected>Chọn khối</option>
        </select>
    </div>

    <div class="form-group col-sm-2">
        <select class="form-select" id="lessonSelectSubject">
            <option value='-1' selected>Chọn môn</option>
        </select>
    </div>

    <div class="form-group col-sm-3">
        <select class="form-select" id="lessonSelectChapterFilter">
            <option value='-1' selected>Chọn chương</option>
        </select>
    </div>

    <div class="col-sm-2 mb-2">
        <button class="btn btn-success" id="btnAdd">
            <i class="fa-solid fa-plus"></i>
            Thêm bài
        </button>
    </div>

    <div class="col-sm-3 mb-2">
        <form id="formSearch">
            <div class="input-group">
                <input type="search" id="search" class="form-control" placeholder="Tìm kiếm" />
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<nav aria-label="..." class="mt-2">
    <ul class="pagination pagination-sm" id="pagination">
    </ul>
</nav>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    STT
                </th>
                <th>
                    Chương
                </th>
                <th>
                    Bài
                </th>
                <th>
                    Thẻ meta
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tBodyListLesson">
        </tbody>
    </table>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalLesson">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="card">
                <h5 class="card-header" id="modalTitle"></h5>
                <div class="card-body">
                    <input hidden id="lessonId" value="" />
                    <div class="form-group">
                        <label class="control-label">Chương</label>
                        <select class="form-select" id="lessonSelectChapter">
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tên bài</label>
                        <input type="text" class="form-control" id="lessonName" placeholder="Tên bài" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Thẻ meta</label>
                        <input type="text" class="form-control" id="lessonMeta" placeholder="Thẻ meta" />
                    </div>
                </div>
                <div class="card-footer text-end">
                    <button type="button" class="btn btn-success" id="btnSubmit">Thêm</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        var keyword = '';
        var page = 1;

        $(document).ready(function () {
            LoadListGrade();
            LoadListSubject();
            LoadListChapter();
            LoadListLesson(keyword, page);
        });

        //Click page of pagination
        $('#pagination').on('click', 'li', function (e) {
            e.preventDefault();
            page = $(this).text();

            if ($('#lessonSelectChapterFilter').val() != -1) {
                LoadListLessonByChapter(page);
                return;
            }

            LoadListLesson(keyword, page);
        })

        //Load List Subject When Grade Change
        $('#lessonSelectGrade').on('change', function () {
            $('#lessonSelectSubject').empty();
            $('#lessonSelectSubject').append("<option value='-1' selected>Chọn môn học</option>");
            $('#lessonSelectChapterFilter').empty();
            $('#lessonSelectChapterFilter').append("<option value='-1' selected>Chọn chương</option>");

            if ($('#lessonSelectGrade').val() == -1) {
                LoadListLesson(keyword, page);
                LoadListChapter();
            }

            LoadListSubject();
        });

        //Load List Chapter When Subject Change
        $('#lessonSelectSubject').on('change', function () {
            $('#lessonSelectChapterFilter').empty();
            $('#lessonSelectChapterFilter').append("<option value='-1' selected>Chọn chương</option>");

            if ($('#lessonSelectSubject').val() == -1) {
                LoadListLesson(keyword, page);
            }

            LoadListChapter();
        });

        //Load List Lesson Select Chapter Change
        $('#lessonSelectChapterFilter').on('change', function () {
            page = 1;
            $("#search").val('');
            if ($('#lessonSelectChapterFilter').val() == -1) {
                LoadListLesson(keyword, page);
                return;
            }
            LoadListLessonByChapter(page);
        });

        //Load List Grade
        function LoadListGrade() {
            //use ajax to load list grade
            $.ajax({
                url: "/admin/grade/GetAllGrade",
                type: "get",
                success: function (data) {
                    if (data.code === 200) {
                        $('#lessonSelectGrade').empty();
                        $('#lessonSelectGrade').append("<option value='-1' selected>Chọn khối</option>");
                        $.each(data.data, function (index, item) {
                            let option = `<option value=${item.id}>${item.gradeName}</option>`;
                            $('#lessonSelectGrade').append(option);
                        })
                    }
                }
            })
        };

        //Load List Subject
        function LoadListSubject() {
            //use ajax to load list subject
            if ($('#chapterSelectGrade').val() != -1) {
                $.ajax({
                    url: "/admin/subject/GetListSubjectByGrade",
                    type: "get",
                    data: {
                        id: $('#lessonSelectGrade').val()
                    },
                    success: function (data) {
                        if (data.code === 200) {
                            $('#lessonSelectSubject').empty();
                            $('#lessonSelectSubject').append("<option value='-1' selected>Chọn môn học</option>");
                            $.each(data.data, function (index, item) {
                                let option = `<option value=${item.id}>${item.subjectName}</option>`;
                                $('#lessonSelectSubject').append(option);
                            })
                        }
                    }
                })
            }
        };

        //Load List Chapter
        function LoadListChapter() {
            //use ajax to load list chapter
            if ($('#lessonSelectSubject').val() == -1 || $('#lessonSelectGrade').val() == -1) {
                $.ajax({
                    url: "/admin/chapter/GetAllChapter",
                    type: "get",
                    success: function (data) {
                        if (data.code === 200) {
                            $('#lessonSelectChapter').empty();
                            $('#lessonSelectChapter').append("<option value='-1' selected>Chọn chương</option>");
                            $.each(data.data, function (index, item) {
                                let option = `<option value=${item.id}>${item.chapterName}</option>`;
                                $('#lessonSelectChapter').append(option);
                            })
                        }
                    }
                })
            }
            else {
                $.ajax({
                    url: "/admin/chapter/GetListChapterBySubjectFilter",
                    type: "get",
                    data: {
                        id: $('#lessonSelectSubject').val()
                    },
                    success: function (data) {
                        if (data.code === 200) {
                            $('#lessonSelectChapterFilter').empty();
                            $('#lessonSelectChapterFilter').append("<option value='-1' selected>Chọn chương</option>");
                            $.each(data.data, function (index, item) {
                                let option = `<option value=${item.id}>${item.chapterName}</option>`;
                                $('#lessonSelectChapterFilter').append(option);
                            })

                            $('#lessonSelectChapter').empty();
                            $('#lessonSelectChapter').append("<option value='-1' selected>Chọn chương</option>");
                            $.each(data.data, function (index, item) {
                                let option = `<option value=${item.id}>${item.chapterName}</option>`;
                                $('#lessonSelectChapter').append(option);
                            })
                        }
                    }
                })
            }
        };

        //Load List Lesson
        function LoadListLesson(keyword, page) {
            //use ajax to load list lesson
            $.ajax({
                url: "/admin/lesson/GetListLesson",
                type: "get",
                data: {
                    keyword,
                    page
                },
                success: function (data) {
                    if (data.code === 200) {
                        $('#tBodyListLesson').empty();
                        $.each(data.data, function (index, item) {
                            let tr = `<tr id=${item.id}>`;
                            tr += `<td class="col-sm-1">${index + 1}</td>`;
                            tr += `<td class="col-sm-3">${item.chapterName}</td>`;
                            tr += `<td class="col-sm-3">${item.lessonName}</td>`;
                            tr += `<td class="col-sm-3">${item.meta}</td>`;
                            tr += '<td class="col-sm-2 text-end">';
                            tr += '<button class="btn btn-info btn-sm" name="view"><i class="fa-solid fa-circle-info"></i></button> | ';
                            tr += '<button class="btn btn-warning btn-sm" name="update"><i class="fa-solid fa-pen-to-square"></i></button> | ';
                            tr += '<button class="btn btn-danger btn-sm" name="delete"><i class="fa-solid fa-trash-can"></i></button>';
                            tr += "</td>";
                            tr += "</tr>";

                            $('#tBodyListLesson').append(tr);
                        })
                        if (data.pageSize > 1) {
                            $('#pagination').empty();
                            for (var i = 1; i <= data.pageSize; i++) {
                                let li = `<li class="page-item" id=${i}><a class="page-link" href="#">${i}</a></li>`;
                                $('#pagination').append(li);
                            }
                            let li = $(`#pagination li#${page}`);
                            $(li).addClass('active');
                        }
                        else {
                            $('#pagination').empty();
                        }
                    }
                }
            })
        };

        //Load List Lesson By Chapter
        function LoadListLessonByChapter(page) {
            //use ajax to load list lesson
            $.ajax({
                url: "/admin/lesson/GetListLessonByChapter",
                type: "get",
                data: {
                    id: $('#lessonSelectChapterFilter').val(),
                    page
                },
                success: function (data) {
                    console.log(data)
                    if (data.code === 200) {
                        $('#tBodyListLesson').empty();
                        $.each(data.data, function (index, item) {
                            let tr = `<tr id=${item.id}>`;
                            tr += `<td class="col-sm-1">${index + 1}</td>`;
                            tr += `<td class="col-sm-3">${item.chapterName}</td>`;
                            tr += `<td class="col-sm-3">${item.lessonName}</td>`;
                            tr += `<td class="col-sm-3">${item.meta}</td>`;
                            tr += '<td class="col-sm-2 text-end">';
                            tr += '<button class="btn btn-info btn-sm" name="view"><i class="fa-solid fa-circle-info"></i></button> | ';
                            tr += '<button class="btn btn-warning btn-sm" name="update"><i class="fa-solid fa-pen-to-square"></i></button> | ';
                            tr += '<button class="btn btn-danger btn-sm" name="delete"><i class="fa-solid fa-trash-can"></i></button>';
                            tr += "</td>";
                            tr += "</tr>";

                            $('#tBodyListLesson').append(tr);
                        })
                        if (data.pageSize > 1) {
                            $('#pagination').empty();
                            for (var i = 1; i <= data.pageSize; i++) {
                                let li = `<li class="page-item" id=${i}><a class="page-link" href="#">${i}</a></li>`;
                                $('#pagination').append(li);
                            }
                            let li = $(`#pagination li#${page}`);
                            $(li).addClass('active');
                        }
                        else {
                            $('#pagination').empty();
                        }
                    }
                }
            })
        };

        //Function Load List Chapter Select Subject Change
        function LoadListChapterBySubject(page) {
            //use ajax to load list chapter
            $.ajax({
                url: "/admin/chapter/GetListChapterBySubject",
                type: "get",
                data: {
                    id: $('#chapterSelectSubjectFilter').val(),
                    page
                },
                success: function (data) {
                    console.log(data)
                    if (data.code === 200) {
                        $('#tBodyListChapter').empty();
                        $.each(data.data, function (index, item) {
                            let tr = `<tr id=${item.id}>`;
                            tr += `<td class="col-sm-1">${index + 1}</td>`;
                            tr += `<td class="col-sm-3">${item.subjectName}</td>`;
                            tr += `<td class="col-sm-3">${item.chapterName}</td>`;
                            tr += `<td class="col-sm-3">${item.meta}</td>`;
                            tr += '<td class="col-sm-2 text-end">';
                            tr += '<button class="btn btn-info btn-sm" name="view"><i class="fa-solid fa-circle-info"></i></button> | ';
                            tr += '<button class="btn btn-warning btn-sm" name="update"><i class="fa-solid fa-pen-to-square"></i></button> | ';
                            tr += '<button class="btn btn-danger btn-sm" name="delete"><i class="fa-solid fa-trash-can"></i></button>';
                            tr += "</td>";
                            tr += "</tr>";

                            $('#tBodyListChapter').append(tr);
                        })
                        if (data.pageSize > 1) {
                            $('#pagination').empty();
                            for (var i = 1; i <= data.pageSize; i++) {
                                let li = `<li class="page-item" id=${i}><a class="page-link" href="#">${i}</a></li>`;
                                $('#pagination').append(li);
                            }
                            let li = $(`#pagination li#${page}`);
                            $(li).addClass('active');
                        }
                        else {
                            $('#pagination').empty();
                        }
                    }
                }
            })
        };

        //Get Detail
        $(document).on('click', "button[name='view']", function () {
            let lessonId = $(this).closest('tr').attr('id');

            $.ajax({
                url: '/admin/lesson/GetDetail',
                type: "get",
                data: {
                    id: lessonId
                },
                success: function (data) {
                    if (data.code == 200) {
                        //set title
                        $('#modalTitle').text("Chi tiết bài");

                        //set value input
                        $('#lessonSelectChapter').val(data.data.idChapter);
                        $('#lessonName').val(data.data.lessonName);
                        $('#lessonMeta').val(data.data.meta);

                        //readonly input
                        $('#lessonName').prop('readonly', true);
                        $('#lessonMeta').prop('readonly', true);

                        //hidden button add
                        $('#btnSubmit').hide();

                        //show modal
                        $('#modalLesson').modal('show');
                    } else {
                        alert(data.message);
                    }
                }
            })
        });

        //Add Chapter
        $('#btnAdd').click(function () {
            $('#modalTitle').text("Thêm bài");

            $('#lessonId').val('');
            $('#lessonSelectChapter').val($('#lessonSelectChapterFilter').val());
            $('#lessonName').val('');
            $('#lessonMeta').val('');

            $('#lessonName').prop('readonly', false);
            $('#lessonMeta').prop('readonly', false);

            //show button add
            $('#btnSubmit').text('Thêm');
            $('#btnSubmit').show();

            //show modal
            $('#modalLesson').modal('show');
        });

        //Update Chapter
        $(document).on('click', "button[name='update']", function () {
            let lessonId = $(this).closest('tr').attr('id');

            $.ajax({
                url: '/admin/lesson/GetDetail',
                type: "get",
                data: {
                    id: lessonId
                },
                success: function (data) {
                    if (data.code == 200) {
                        //set title
                        $('#modalTitle').text("Cập nhật thông tin bài");

                        //set value input
                        $('#lessonId').val(lessonId);
                        $('#lessonSelectChapter').val(data.data.idChapter);
                        $('#lessonName').val(data.data.lessonName);
                        $('#lessonMeta').val(data.data.meta);

                        $('#lessonName').prop('readonly', false);
                        $('#lessonMeta').prop('readonly', false);

                        //show button add
                        $('#btnSubmit').text('Lưu');
                        $('#btnSubmit').show();

                        //show modal
                        $('#modalLesson').modal('show');
                    } else {
                        alert(data.message);
                    }
                }
            })

        });

        //Delete Lesson
        $(document).on('click', "button[name='delete']", function () {
            let lessonId = $(this).closest('tr').attr('id');

            if (confirm("Bạn có chắc muốn xóa bài này?")) {
                //Use ajax delete lesson
                $.ajax({
                    url: '/admin/lesson/DeleteLesson',
                    type: "post",
                    data: {
                        id: lessonId
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            alert(data.message);
                            page = 1;
                            if ($('#lessonSelectChapterFilter').val() != -1) {
                                LoadListLessonByChapter(page);
                            }
                            else {
                                LoadListLesson(keyword, page);
                            }
                        } else {
                            alert(data.message);
                        }
                    }
                })
            }

        });

        //Submit Modal
        $('#btnSubmit').click(function () {
            let lessonId = $('#lessonId').val();
            let chapterId = $('#lessonSelectChapter').val();
            let lessonName = $('#lessonName').val().trim();
            let lessonMeta = $('#lessonMeta').val().trim();

            if (chapterId == -1 || lessonName.length == 0 || lessonMeta.length == 0) {
                alert("Vui lòng nhập đầy đủ dữ liệu!");
                return;
            }

            if (lessonId.length == 0) {
                //Use ajax add chapter
                $.ajax({
                    url: '/admin/lesson/AddLesson',
                    type: 'post',
                    data: {
                        chapterId,
                        lessonName,
                        lessonMeta
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            alert(data.message);

                            $('#lessonSelectChapter').val($('#lessonSelectChapterFilter').val());
                            $('#lessonName').val('');
                            $('#lessonMeta').val('');

                            if ($('#lessonSelectChapterFilter').val() != -1) {
                                LoadListLessonByChapter(page);
                            }
                            else {
                                LoadListLesson(keyword, page);
                            }
                        }
                        else {
                            alert(data.message);
                        }
                    }
                })
            }
            else {
                //Use ajax update chapter
                $.ajax({
                    url: '/admin/lesson/UpdateLesson',
                    type: 'post',
                    data: {
                        id: lessonId,
                        chapterId,
                        lessonName,
                        lessonMeta
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            alert(data.message);

                            $('#modalLesson').modal('hide');
                            if ($('#lessonSelectChapterFilter').val() != -1) {
                                LoadListLessonByChapter(page);
                            }
                            else {
                                LoadListLesson(keyword, page);
                            }
                        }
                        else {
                            alert(data.message);
                        }
                    }
                })
            }
        })

        //Convert chapter name to meta
        $('#lessonName').keyup(function () {
            let convertedString = $(this).val().normalize("NFD").replace(/[\u0300-\u036f]/g, ""); //remove diacritics
            convertedString = convertedString.replace(/\s+/g, "-").toLowerCase(); //Add a hyphen between two words
            $('#lessonMeta').val(convertedString)
        })

        //Search
        $('#formSearch').submit(function (e) {
            e.preventDefault();
            keyword = $('#search').val().trim();

            if (keyword.length == 0) {
                return;
            }
            page = 1;
            $('#lessonSelectGrade').val(-1);
            $('#lessonSelectSubject').empty();
            $('#lessonSelectSubject').append("<option value='-1' selected>Chọn môn học</option>");
            $('#lessonSelectChapterFilter').empty();
            $('#lessonSelectChapterFilter').append("<option value='-1' selected>Chọn chương</option>");
            LoadListLesson(keyword, page)
        })

        //Reload list chapter input null
        $('#search').keyup(function () {
            if ($("#search").val().length < 1) {
                keyword = '';
                page = 1;
                LoadListLesson(keyword, page);
            }
        })
    </script>
}

