@{
    ViewData["Title"] = "Danh sách bài";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="form-group col-sm-2">
        <select class="form-select" id="lessonSelectGrade">
            <option value='-1' selected>Chọn khối</option>
        </select>
    </div>

    <div class="form-group col-sm-2">
        <select class="form-select" id="lessonSelectSubject">
            <option value='-1' selected>Chọn môn</option>
        </select>
    </div>

    <div class="form-group col-sm-3">
        <select class="form-select" id="lessonSelectChapter">
            <option value='-1' selected>Chọn chương</option>
        </select>
    </div>

    <div class="col-sm-2 mb-2">
        <button class="btn btn-success" id="btnAdd">
            <i class="fa-solid fa-plus"></i>
            Thêm bài
        </button>
    </div>

    <div class="col-sm-3 mb-2">
        <form id="formSearch">
            <div class="input-group">
                <input type="search" id="search" class="form-control" placeholder="Tìm kiếm" />
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<nav aria-label="..." class="mt-2">
    <ul class="pagination pagination-sm" id="pagination">
    </ul>
</nav>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    STT
                </th>
                <th>
                    Bài
                </th>
                <th>
                    Thẻ meta
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tBodyListLesson">
        </tbody>
    </table>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalLesson">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="card">
                <h5 class="card-header" id="modalTitle"></h5>
                <div class="card-body">
                    <input hidden id="lessonId" value="" />
                    <div class="form-group">
                        <label class="control-label">Tên bài</label>
                        <input type="text" class="form-control" id="lessonName" placeholder="Tên bài" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Thẻ meta</label>
                        <input type="text" class="form-control" id="lessonMeta" placeholder="Thẻ meta" />
                    </div>
                </div>
                <div class="card-footer text-end">
                    <button type="button" class="btn btn-success" id="btnSubmit">Thêm</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        var keyword = '';
        var page = 1;

        $(document).ready(function () {
            LoadListGrade();
        });

        //Load list subject when grade change
        $('#lessonSelectGrade').on('change', function () {
            $('#lessonSelectSubject').empty();
            $('#lessonSelectSubject').append("<option value='-1' selected>Chọn môn học</option>");
            $('#lessonSelectChapterFilter').empty();
            $('#lessonSelectChapterFilter').append("<option value='-1' selected>Chọn chương</option>");
            $('#tBodyListLesson').empty();

            LoadListSubject($('#lessonSelectGrade').val());
        });

        //Load list chapter when subject change
        $('#lessonSelectSubject').on('change', function () {
            $('#lessonSelectChapter').empty();
            $('#lessonSelectChapter').append("<option value='-1' selected>Chọn chương</option>");
            $('#tBodyListLesson').empty();

            LoadListChapter($('#lessonSelectSubject').val());
        });

        //Load list lesson when chapter change
        $('#lessonSelectChapter').on('change', function () {
            page = 1;
            keyword = '';
            LoadListLesson(keyword, page);
        });

        //Load list grade
        function LoadListGrade() {
            $.ajax({
                url: "/admin/lesson/GetListGrade",
                type: "get",
                success: function (data) {
                    if (data.code === 200) {
                        $('#lessonSelectGrade').empty();
                        $('#lessonSelectGrade').append("<option value='-1' selected>Chọn khối</option>");
                        $.each(data.data, function (index, item) {
                            let option = `<option value=${item.id}>${item.gradeName}</option>`;
                            $('#lessonSelectGrade').append(option);
                        })
                    }
                }
            })
        };

        //Load list subject
        function LoadListSubject(id) {
            $.ajax({
                url: "/admin/lesson/GetListSubject",
                type: "get",
                data: {
                    gradeId: id
                },
                success: function (data) {
                    if (data.code === 200) {
                        $('#lessonSelectSubject').empty();
                        $('#lessonSelectSubject').append("<option value='-1' selected>Chọn môn học</option>");
                        $.each(data.data, function (index, item) {
                            let option = `<option value=${item.id}>${item.subjectName}</option>`;
                            $('#lessonSelectSubject').append(option);
                        })
                    }
                }
            })
        }

        //Load list chapter
        function LoadListChapter(id) {
            $.ajax({
                url: "/admin/lesson/GetListChapter",
                type: "get",
                data: {
                    subjectId: id
                },
                success: function (data) {
                    if (data.code === 200) {
                        $('#lessonSelectChapter').empty();
                        $('#lessonSelectChapter').append("<option value='-1' selected>Chọn chương</option>");
                        $.each(data.data, function (index, item) {
                            let option = `<option value=${item.id}>${item.chapterName}</option>`;
                            $('#lessonSelectChapter').append(option);
                        })
                    }
                }
            })
        }

        //Load list lesson
        function LoadListLesson(keyword, page) {
            $.ajax({
                url: "/admin/lesson/GetListLesson",
                type: "get",
                data: {
                    chapterId: $('#lessonSelectChapter').val(),
                    keyword,
                    page
                },
                success: function (data) {
                    console.log(data)
                    if (data.code === 200) {
                        $('#tBodyListLesson').empty();
                        $.each(data.data, function (index, item) {
                            let tr = `<tr id=${item.id}>`;
                            tr += `<td class="col-sm-1">${index + 1}</td>`;
                            tr += `<td class="col-sm-4">${item.lessonName}</td>`;
                            tr += `<td class="col-sm-4">${item.meta}</td>`;
                            tr += '<td class="col-sm-2 text-end">';
                            tr += '<button class="btn btn-info btn-sm" name="view"><i class="fa-solid fa-circle-info"></i></button> | ';
                            tr += '<button class="btn btn-warning btn-sm" name="update"><i class="fa-solid fa-pen-to-square"></i></button> | ';
                            tr += '<button class="btn btn-danger btn-sm" name="delete"><i class="fa-solid fa-trash-can"></i></button>';
                            tr += "</td>";
                            tr += "</tr>";

                            $('#tBodyListLesson').append(tr);
                        })

                        if (data.pageSize > 1) {
                            $('#pagination').empty();
                            for (var i = 1; i <= data.pageSize; i++) {
                                let li = `<li class="page-item" id=${i}><a class="page-link" href="#">${i}</a></li>`;
                                $('#pagination').append(li);
                            }
                            let li = $(`#pagination li#${page}`);
                            $(li).addClass('active');
                        }
                        else {
                            $('#pagination').empty();
                        }
                    }
                }
            })
        };

        //Show modal add lesson
        $('#btnAdd').click(function () {
            if ($('#lessonSelectChapter').val() == -1) {
                alert('Vui lòng chọn chương!');
                return;
            }

            $('#modalTitle').text("Thêm bài");

            $('#lessonId').val('');
            $('#lessonName').val('');
            $('#lessonMeta').val('');

            $('#lessonName').prop('readonly', false);
            $('#lessonMeta').prop('readonly', false);

            $('#btnSubmit').text('Thêm');
            $('#btnSubmit').show();

            $('#modalLesson').modal('show');
        });

        //Show modal detail lesson
        $(document).on('click', "button[name='view']", function () {
            let lessonId = $(this).closest('tr').attr('id');

            $.ajax({
                url: '/admin/lesson/GetDetailLesson',
                type: "get",
                data: {
                    id: lessonId
                },
                success: function (data) {
                    if (data.code == 200) {
                        $('#modalTitle').text("Chi tiết bài");

                        $('#lessonName').val(data.data.lessonName);
                        $('#lessonMeta').val(data.data.meta);

                        $('#lessonName').prop('readonly', true);
                        $('#lessonMeta').prop('readonly', true);

                        $('#btnSubmit').hide();

                        $('#modalLesson').modal('show');
                    } else {
                        alert(data.message);
                    }
                }
            })
        });

        //Show modal update lesson
        $(document).on('click', "button[name='update']", function () {
            let lessonId = $(this).closest('tr').attr('id');

            $.ajax({
                url: '/admin/lesson/GetDetailLesson',
                type: "get",
                data: {
                    id: lessonId
                },
                success: function (data) {
                    if (data.code == 200) {
                        $('#modalTitle').text("Cập nhật thông tin bài");

                        $('#lessonId').val(lessonId);
                        $('#lessonName').val(data.data.lessonName);
                        $('#lessonMeta').val(data.data.meta);

                        $('#lessonName').prop('readonly', false);
                        $('#lessonMeta').prop('readonly', false);

                        $('#btnSubmit').text('Cập nhật');
                        $('#btnSubmit').show();

                        $('#modalLesson').modal('show');
                    } else {
                        alert(data.message);
                    }
                }
            })
        });

        //Delete lesson
        $(document).on('click', "button[name='delete']", function () {
            let lessonId = $(this).closest('tr').attr('id');

            if (confirm("Bạn có chắc muốn xóa bài này?")) {
                $.ajax({
                    url: '/admin/lesson/DeleteLesson',
                    type: "post",
                    data: {
                        id: lessonId
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            alert(data.message);

                            page = 1;
                            LoadListLesson(keyword, page);

                        } else {
                            alert(data.message);
                        }
                    }
                })
            }

        });

        //Submit Modal
        $('#btnSubmit').click(function () {
            let lessonId = $('#lessonId').val();
            let chapterId = $('#lessonSelectChapter').val();
            let lessonName = $('#lessonName').val().trim();
            let lessonMeta = $('#lessonMeta').val().trim();

            if (chapterId == -1 || lessonName.length == 0 || lessonMeta.length == 0) {
                alert("Vui lòng nhập đầy đủ dữ liệu!");
                return;
            }

            if (lessonId.length == 0) { //Add lesson
                $.ajax({
                    url: '/admin/lesson/AddLesson',
                    type: 'post',
                    data: {
                        chapterId,
                        lessonName,
                        lessonMeta
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            alert(data.message);

                            $('#lessonName').val('');
                            $('#lessonMeta').val('');

                            LoadListLesson(keyword, page);
                        }
                        else {
                            alert(data.message);
                        }
                    }
                })
            }
            else { //Update lesson
                $.ajax({
                    url: '/admin/lesson/UpdateLesson',
                    type: 'post',
                    data: {
                        id: lessonId,
                        chapterId,
                        lessonName,
                        lessonMeta
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            alert(data.message);

                            LoadListLesson(keyword, page);
                        }
                        else {
                            alert(data.message);
                        }
                    }
                })
            }
        })

        //Convert lesson name to meta
        $('#lessonName').keyup(function () {
            let convertedString = $(this).val().normalize("NFD").replace(/[\u0300-\u036f]/g, ""); //remove diacritics
            convertedString = convertedString.replace(/\s+/g, "-").toLowerCase(); //Add a hyphen between two words
            $('#lessonMeta').val(convertedString)
        })

        //Search
        $('#formSearch').submit(function (e) {
            e.preventDefault();
            keyword = $('#search').val().trim();

            if (keyword.length == 0) {
                return;
            }
            page = 1;
            LoadListLesson(keyword, page)
        })

        //Reload list lesson when search null
        $('#search').keyup(function () {
            if ($("#search").val().length == 0) {
                keyword = '';
                page = 1;
                LoadListLesson(keyword, page);
            }
        })

        //Click page of pagination
        $('#pagination').on('click', 'li', function (e) {
            e.preventDefault();
            page = $(this).text();

            LoadListLesson(keyword, page);
        })
    </script>
}

