@{
    ViewData["Title"] = "Nhập học";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="form-group col-sm-2">
        <select class="form-select" id="enrollSelectGrade">
            <option value='-1' selected>Chọn khối</option>
        </select>
    </div>

    <div class="form-group col-sm-2">
        <select class="form-select" id="enrollSelectClass">
            <option value='-1' selected>Chọn lớp</option>
        </select>
    </div>

    <div class="col-sm-3 mb-2">
        <button class="btn btn-success" id="btnAdd">
            <i class="fa-solid fa-plus"></i>
            Nhập học
        </button>
    </div>

    <div class="form-group col-sm-2">
        <select class="form-select" id="enrollSelectYear">
        </select>
    </div>

    <div class="col-sm-3 mb-2">
        <form id="formSearch">
            <div class="input-group">
                <input type="search" id="search" class="form-control" placeholder="Tìm kiếm" />
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<nav aria-label="..." class="mt-2">
    <ul class="pagination pagination-sm" id="pagination">
    </ul>
</nav>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    STT
                </th>
                <th>
                    Họ tên
                </th>
                <th>
                    Ngày sinh
                </th>
                <th>
                    Điện thoại
                </th>
                <th>
                    Email
                </th>
                <th>
                    Địa chỉ
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tBodyListEnroll">
        </tbody>
    </table>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalEnroll">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="card">
                <h5 class="card-header" id="modalTitle"></h5>
                <div class="card-body">

                    <div class="row">
                        <div class="col-sm-6">
                            <nav aria-label="...">
                                <ul class="pagination pagination-sm" id="paginationTable">
                                </ul>
                            </nav>
                        </div>

                        <div class="col-sm-3 offset-sm-3 mb-2">
                            <form id="formSearchTable">
                                <div class="input-group">
                                    <input type="search" id="searchTable" class="form-control" placeholder="Tìm kiếm" />
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        STT
                                    </th>
                                    <th>
                                        Mã học sinh
                                    </th>
                                    <th>
                                        Họ tên
                                    </th>
                                    <th>
                                        Ngày sinh
                                    </th>
                                    <th>
                                        Địa chỉ
                                    </th>
                                    <th>
                                        Điện thoại
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="tBodyListNotEnroll">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer text-end">
                    <button type="button" class="btn btn-success" id="btnSubmit"></button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        let keyword = '';
        let page = 1;
        let keywordTable = '';
        let pageTable = 1;

        $(document).ready(function () {
            LoadListGrade();
            LoadYear();
            LoadListEnroll(keyword, page);
        });

        //Load list class when grade change
        $('#enrollSelectGrade').on('change', function () {
            LoadListClass(this.value);
        });

        //Load list student when change year
        $('#enrollSelectYear').on('change', function () {
            LoadListEnroll(keyword, page)
        })

        //Load year
        function LoadYear() {
            let year = new Date().getFullYear();
            $('#enrollSelectYear').empty();
            for (let i = year; i > year - 10; i--) {
                let option = `<option value=${i}>${i}</option>`;
                $('#enrollSelectYear').append(option);
            }
        };

        //Load list grade
        function LoadListGrade() {
            $.ajax({
                url: "/admin/enroll/GetListGrade",
                type: "get",
                success: function (data) {
                    if (data.code === 200) {
                        $('#enrollSelectGrade').empty();
                        $('#enrollSelectGrade').append("<option value='-1' selected>Chọn khối</option>");
                        $.each(data.data, function (index, item) {
                            let option = `<option value=${item.id}>${item.gradeName}</option>`;
                            $('#enrollSelectGrade').append(option);
                        })
                    }
                }
            })
        };

        //Load list class by grade id
        function LoadListClass(id) {
            if (id == -1) {
                $('#enrollSelectClass').empty();
                $('#enrollSelectClass').append("<option value='-1' selected>Chưa chọn khối</option>");
                return;
            }

            $.ajax({
                url: "/admin/enroll/GetListClass",
                type: "get",
                data: {
                    id
                },
                success: function (data) {
                    if (data.code === 200) {
                        $('#enrollSelectClass').empty();
                        $('#enrollSelectClass').append("<option value='-1' selected>Chọn lớp</option>");
                        $.each(data.data, function (index, item) {
                            let option = `<option value=${item.id}>${item.className}</option>`;
                            $('#enrollSelectClass').append(option);
                        })
                    }
                }
            })
        };

        //Load list student enrolled
        function LoadListEnroll(keyword, page) {
            //use ajax to load list enroll
            let year = $('#enrollSelectYear').val();
            $.ajax({
                url: "/admin/enroll/GetListEnroll",
                type: "get",
                data: {
                    year,
                    keyword,
                    page
                },
                success: function (data) {
                    if (data.code === 200) {
                        $('#tBodyListEnroll').empty();
                        $.each(data.data, function (index, item) {
                            let tr = `<tr id=${item.studentId}>`;
                            tr += `<td class="col-sm-1">${index + 1}</td>`;
                            tr += `<td class="col-sm-3">${item.studentName}</td>`;
                            tr += '<td class="col-sm-2">' + new Date(item.birthday).getDate()
                                + "/" + Number(new Date(item.birthday).getMonth() + 1)
                                + "/" + new Date(item.birthday).getFullYear() + "</td>";
                            tr += `<td class="col-sm-2">${item.phone}</td>`;
                            tr += `<td class="col-sm-2">${item.email}</td>`;
                            tr += `<td class="col-sm-2">${item.address}</td>`;
                            tr += "</tr>";

                            $('#tBodyListEnroll').append(tr);
                        })

                        if (data.pageSize > 1) {
                            $('#pagination').empty();
                            for (var i = 1; i <= data.pageSize; i++) {
                                let li = `<li class="page-item" id=${i}><a class="page-link" href="#">${i}</a></li>`;
                                $('#pagination').append(li);
                            }
                            let li = $(`#pagination li#${page}`);
                            $(li).addClass('active');
                        }
                        else {
                            $('#pagination').empty();
                        }
                    }
                }
            })
        };

        //Load list student not enroll
        function LoadListNotEnroll(keyword, page) {
            //use ajax to load list student not enroll
            $.ajax({
                url: "/admin/enroll/GetListNotEnroll",
                type: "get",
                data: {
                    keyword,
                    page
                },
                success: function (data) {
                    if (data.code === 200) {
                        $('#tBodyListNotEnroll').empty();
                        $.each(data.data, function (index, item) {
                            let tr = `<tr id=${item.studentId}>`;
                            tr += `<td class="col-sm-1">${index + 1}</td>`;
                            tr += `<td class="col-sm-2">${item.studentId}</td>`;
                            tr += `<td class="col-sm-3">${item.studentName}</td>`;
                            tr += '<td class="col-sm-1">' + new Date(item.birthday).getDate()
                                + "/" + Number(new Date(item.birthday).getMonth() + 1)
                                + "/" + new Date(item.birthday).getFullYear() + "</td>";
                            tr += `<td class="col-sm-2">${item.address}</td>`;
                            tr += `<td class="col-sm-1">${item.phone}</td>`;
                            tr += `<td class="col-sm-2">${item.email}</td>`;
                            tr += `<td class="col-sm-1"><input type="checkbox"/></td>`;
                            tr += "</tr>";

                            $('#tBodyListNotEnroll').append(tr);
                        })

                        if (data.pageSize > 1) {
                            $('#paginationTable').empty();
                            for (var i = 1; i <= data.pageSize; i++) {
                                let li = `<li class="page-item" id=${'pagetable-' + i}><a class="page-link" href="#">${i}</a></li>`;
                                $('#paginationTable').append(li);
                            }

                            let li = $(`#paginationTable li#${'pagetable-' + pageTable} `);
                            $(li).addClass('active');
                        }
                        else {
                            $('#paginationTable').empty();
                        }
                    }
                }
            })
        }

        //Show modal enroll
        $('#btnAdd').click(function () {
            let classId = $('#enrollSelectClass').val();
            if (classId == -1) {
                alert("Vui lòng chọn lớp!");
                return;
            }

            $('#modalTitle').text("Danh sách học sinh chưa nhập học");
            pageTable = 1;
            keywordTable = '';
            $('#searchTable').val('');
            LoadListNotEnroll();

            $('#btnSubmit').text('Xác nhận');
            $('#btnSubmit').show();

            $('#modalEnroll').modal('show');
        });

        //Enroll
        function Enroll(studentId) {
            let classId = $('#enrollSelectClass').val();

            $.ajax({
                url: '/admin/enroll/Enroll',
                type: 'post',
                data: {
                    studentId,
                    classId
                },
                success: function (data) {
                    if (data.code == 200) {
                        LoadListEnroll(keyword, page);
                        $('#modalEnroll').modal('hide');
                    }
                    else {
                        alert(data.message);
                    }
                }
            })
        }

        //Submit Modal
        $('#btnSubmit').click(function () {
            $('#tBodyListNotEnroll > tr').each(function (index, item) {
                if ($(this).find('input').is(':checked')) {
                    let id = $(this).attr('id');
                    Enroll(id);
                }
            })
            return;
        })

        //Search
        $('#formSearch').submit(function (e) {
            e.preventDefault();
            keyword = $('#search').val().trim();

            if (keyword.length == 0) {
                return;
            }

            page = 1;
            LoadListEnroll(keyword, page)
        })

        //Reload list not enroll input null
        $('#search').keyup(function () {
            if ($("#search").val().length < 1) {
                keyword = '';
                page = 1;
                LoadListEnroll(keyword, page);
            }
        })

        //Search Table
        $('#formSearchTable').submit(function (e) {
            e.preventDefault();
            keywordTable = $('#searchTable').val().trim();

            if (keywordTable.length == 0) {
                return;
            }

            pageTable = 1;
            LoadListNotEnroll(keywordTable, pageTable)
        })

        //Reload list not enroll table input null
        $('#searchTable').keyup(function () {
            if ($("#searchTable").val().length < 1) {
                keywordTable = '';
                pageTable = 1;
                LoadListNotEnroll(keywordTable, pageTable)
            }
        })

        //Click page of pagination
        $('#pagination').on('click', 'li', function (e) {
            e.preventDefault();
            page = $(this).text();
            LoadListEnroll(keyword, page);
        })

        //Click page of pagination on table
        $('#paginationTable').on('click', 'li', function (e) {
            e.preventDefault();
            pageTable = $(this).text();
            LoadListNotEnroll(keywordTable, pageTable);
        })
    </script>
}
